@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827; /* dark grey text */
}

@theme default {
  --color-primary: #ffffff;
  --color-secondary: #408A71;
  --color-accent: #6b7280; /* grey */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
